name: Build

on: 
  push:
    branches: 
      - master

jobs:

  Build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - uses: actions/cache@v1
      with:
        path: c:\hostedtoolcache\windows\python\3.7.5\x64\lib\site-packages
        key: ${{ runner.os }}-pip_build-${{ hashFiles('**/requirements.txt') }}
        restore-keys: ${{ runner.os }}-pip_build-${{ hashFiles('**/requirements.txt') }}
          
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Install pyinstaller
      run: |
        pip install pyinstaller
    
    - name: Build with pyinstaller
      run: 
        pyinstaller build_github.spec
    
    - uses: actions/upload-artifact@v1
      with:
        name: DownloaderForReddit
        path: dist/DownloaderForReddit